h1 {
    color: red;
}

p {
    font-family: sans-serif;
}

a {
    color: orange;
}

s {
    color: grey;
}

mark {
    color: grey;
    background-color: pink;    
}

h2 {
    text-align: center;
}

pre {
    font-family: monospace;
    font-size: 80%;
}